<!-- NovBud Header -->

<section class="novbud__about">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="novbud__about-content">
                    <h2>
                        Компания NOVBUD
                    </h2>
                    <p>
                        NOVBUD - это строительная компания, которая занимается комплексным менеджментом недвижимости:
                        проектирование, строительство и обслуживание жилых комплексов после ввода в эксплуатацию.
                        Компания займется профессиональной деятельностью с 2007 года, имеет в своем портфолио один из
                        крупнейших жилых комплексов Украины, ЖК «Петровский квартал». За 10 лет мы построили и
                        реализовали более 100 000 м2 и продолжаем развиваться.
                    <p>
                    <p> В состав строительной компании NOVBUD входят управляющие проектами, архитектурные, дизайнерские,
                        инженерные, эксплуатационные, юридические и финансовые отделы и компании.
                    <p>
                    <a href="" class="link__with-arrowRight">Детальнее <span class="arrow">&#9654;</span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="novbud__about-img">
        <img src="img/img2.png" class="img-responsive wow fadeInRight" alt="Компания NOVBUD">
    </div>
</section>

<!-- NovBud Header -->
