<!-- NovBud contact -->

<section class="novbud__contact">
    <div class="novbud__contact-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>
                        Контакты
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-4">

                <div class="novbud__contact-allcontact">
                    <h5>
                        конаткты Центрального офиса
                    </h5>
                    <ul>
                        <li class="addr">
                            с. Петропавловская Борщаговка,
                            ул Соборная 2В
                        </li>
                        <li class="phones">
                            <a href="">+38 (066) 000-00-00</a>
                            <a href="">+38 (066) 000-00-00</a>
                            <a href="">+38 (066) 000-00-00</a>
                        </li>
                        <li class="mail">
                            <a href="mailto:info@novbud.ua">info@novbud.ua</a>
                        </li>
                        <li class="clock">
                            Пн.-Птн. 09:00 - 18:00
                            Сб.-Вс. 10:00 - 17:00
                        </li>
                    </ul>

                    <a href="#" class="viewObjects">Посмотреть объекты на карте</a>
                </div>

            </div>

            <div class="col-sm-5">

                <div class="novbud__contact-form">
                    <h5>
                        Получить консультация менеджера
                    </h5>
                    <form action="">
                        <div class="form-group">
                            <input type="text" placeholder="Ваше имя">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Ваш телефон">
                        </div>
                        <div class="form-group">
                            <textarea name="" placeholder="Ваш комментарий" id="" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <a href="#" class="button button-light">
                                <span>Отправить</span>
                            </a>
                        </div>
                    </form>
                </div>

            </div>

            <div class="col-sm-3">

                <div class="novbud__contact-cta">
                    <h5>
                        Хотите работать у нас?
                    </h5>
                    <p>
                        Резюме присылайте на электронный<br/>
                        адрес <a href="mailto:hr@novbud.ua или">hr@novbud.ua или</a><br/>
                        звоните <a href="tel:(067) 265-45-44">(067) 265-45-44</a>
                    </p>
                    <a href="" class="link__with-arrowRight">все вакансии <span class="arrow">&#9654;</span></a>
                </div>

            </div>

        </div>
    </div>
</section>

<!-- NovBud contact -->
