<!-- NovBud Header -->

<section class="novbud__counter" id="counter">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="flex-row novbud__counter-item">
                    <div class="novbud__counter-value" data-count="2007">1000</div>
                    <div class="novbud__counter-text">
                        год <br/>
                        основания
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="flex-row novbud__counter-item">
                    <div class="novbud__counter-value" data-count="4689">2000</div>
                    <div class="novbud__counter-text">
                        дома в<br/>
                        экплуатации
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="flex-row novbud__counter-item">
                    <div class="novbud__counter-value" data-count="52">0</div>
                    <div class="novbud__counter-text">
                        семей<br/>
                        заселено
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="flex-row novbud__counter-item">
                    <div class="novbud__counter-value" data-count="148">50</div>
                    <div class="novbud__counter-text">
                        гектаров<br/>
                        застроено
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- NovBud Header -->
