<!-- NovBud Header -->

<section class="novbud__hero" style="background-image: url(img/hero_img.png)">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="novbud__hero-content">
                    <h1>
                        Ваш надежный застройщик
                        <span>
                            Novbud
                        </span>
                    </h1>
                    <p>
                        Мы сосредоточили свое внимание на инновациях и технологиях
                    </p>

                    <a href="#" class="button button-light">
                        <span>Смотреть Объекты</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- NovBud Header -->
