<!-- NovBud news -->

<section class="novbud__news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">

                <div class="novbud__news-wrap">

                    <div class="novbud__news-item">
                        <div class="flex-row">
                            <div class="novbud__news-item-thumb" style="background-image: url(img/news1.png)"></div>
                            <div class="novbud__news-item-content">
                                <div class="novbud__news-item-date">
                                    11 октября 2017
                                </div>
                                <div class="novbud__news-item-title">
                                    9 августа состоялось торжественное событие по случаю Дня
                                    строителя!
                                </div>
                                <div class="novbud__news-item-text">
                                    В честь празднования Дня строителя в медиа-зале Конфедерации строителей Украины состоялось награждение почетными наградами лучших представителей строительной отрасли.
                                </div>
                                <a href="" class="link__with-arrowRight">Детальнее <span class="arrow">&#9654;</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="novbud__news-item">
                        <div class="flex-row">
                            <div class="novbud__news-item-thumb" style="background-image: url(img/news2.png)"></div>
                            <div class="novbud__news-item-content">
                                <div class="novbud__news-item-date">
                                    11 октября 2017
                                </div>
                                <div class="novbud__news-item-title">
                                    9 августа состоялось торжественное событие по случаю Дня
                                    строителя!
                                </div>
                                <div class="novbud__news-item-text">
                                    В честь празднования Дня строителя в медиа-зале Конфедерации строителей Украины состоялось награждение почетными наградами лучших представителей строительной отрасли.
                                </div>
                                <a href="" class="link__with-arrowRight">Детальнее <span class="arrow">&#9654;</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="novbud__news-item">
                        <div class="flex-row">
                            <div class="novbud__news-item-thumb" style="background-image: url(img/news3.png)"></div>
                            <div class="novbud__news-item-content">
                                <div class="novbud__news-item-date">
                                    11 октября 2017
                                </div>
                                <div class="novbud__news-item-title">
                                    9 августа состоялось торжественное событие по случаю Дня
                                    строителя!
                                </div>
                                <div class="novbud__news-item-text">
                                    В честь празднования Дня строителя в медиа-зале Конфедерации строителей Украины состоялось награждение почетными наградами лучших представителей строительной отрасли.
                                </div>
                                <a href="" class="link__with-arrowRight">Детальнее <span class="arrow">&#9654;</span></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="novbud_news-allnews">
                        <a href="#" class="button-allNews">
                            <span>
                                все новости
                            </span>
                        </a>
                    </div>

                </div>


            </div>

            <div class="col-md-5">
                <div class="novbud__news-header">
                    <h2>
                        Новости
                    </h2>
                    <p>
                        Наша команда заинтересована в том что бы<br/> Вы были в курсе всех актуальных новостей и<br/> предложений деятельности компании<br/> NOVBUD.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- NovBud news -->
