<!-- NovBud Projects -->

<section class="novbud__projects">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 novbud__projects-header">
                <h2>
                    Наши проекты
                </h2>
                <p>
                    Компания имеет реальный опыт эффективного управления проектами: создание концепций,<br /> проектирование, строительство и эксплуатация жилых комплексов.
                </p>
            </div>
        </div>

        <div class="novbud__projects-wrap">
            <div class="novbud__projects-item">

                <div class="flex-row">
                    <div class="novbud__projects-item-thumb">
                        <img src="img/pr1.png" alt="ЖК “Петровский квартал”" class="img-responsive">
                    </div>
                    <div class="novbud__projects-item-text">
                        <div class="novbud__projects-item-text-title">
                            <div class="row">
                                <div class="col-xs-9">
                                    <h2>ЖК “Петровский квартал”</h2>
                                </div>
                                <div class="col-xs-3 date">
                                    <span class="">2015</span>
                                </div>
                            </div>
                        </div>
                        <p>
                            Один из крупнейших жилых комплексов Украины, который расположен в экологически чистом пригороде Киева. Застройщиком проекта выступает надежная строительная компания NOVBUD.
                        </p>
                        <div class="novbud__projects-item-address">
                            с. Крюковщина, ул.Возрождения, 1
                        </div>
                    </div>
                    <div class="novbud__projects-item-link">
                        <span class="linkNotHover">&#9654;</span>
                        <span class="linkHover">
                            <img src="img/arrow.png" alt="arrow">
                        </span>
                    </div>
                </div>

                <a href="#"></a>
            </div>


            <div class="novbud__projects-item">

                <div class="flex-row">
                    <div class="novbud__projects-item-thumb">
                        <img src="img/pr2.png" alt="ЖК “Новые теремки”" class="img-responsive">
                    </div>
                    <div class="novbud__projects-item-text">
                        <div class="novbud__projects-item-text-title">
                            <div class="row">
                                <div class="col-xs-9">
                                    <h2>ЖК “Новые теремки”</h2>
                                </div>
                                <div class="col-xs-3 date">
                                    <span class="">2015</span>
                                </div>
                            </div>
                        </div>
                        <p>
                            Один из крупнейших жилых комплексов Украины, который расположен в экологически чистом пригороде Киева. Застройщиком проекта выступает надежная строительная компания NOVBUD.
                        </p>
                        <div class="novbud__projects-item-address">
                            с. Крюковщина, ул.Возрождения, 1
                        </div>
                    </div>
                    <div class="novbud__projects-item-link">
                        <span class="linkNotHover">&#9654;</span>
                        <span class="linkHover">
                            <img src="img/arrow.png" alt="arrow">
                        </span>
                    </div>
                </div>

                <a href="#"></a>
            </div>


            <div class="novbud__projects-item">

                <div class="flex-row">
                    <div class="novbud__projects-item-thumb">
                        <img src="img/pr3.png" alt="ЖК “Квартал Крюковщина”" class="img-responsive">
                    </div>
                    <div class="novbud__projects-item-text">
                        <div class="novbud__projects-item-text-title">
                            <div class="row">
                                <div class="col-xs-9">
                                    <h2>ЖК “Квартал Крюковщина”</h2>
                                </div>
                                <div class="col-xs-3 date">
                                    <span class="">2015</span>
                                </div>
                            </div>
                        </div>
                        <p>
                            Один из крупнейших жилых комплексов Украины, который расположен в экологически чистом пригороде Киева. Застройщиком проекта выступает надежная строительная компания NOVBUD.
                        </p>
                        <div class="novbud__projects-item-address">
                            с. Крюковщина, ул.Возрождения, 1
                        </div>
                    </div>
                    <div class="novbud__projects-item-link">
                        <span class="linkNotHover">&#9654;</span>
                        <span class="linkHover">
                            <img src="img/arrow.png" alt="arrow">
                        </span>
                    </div>
                </div>

                <a href="#"></a>
            </div>


        </div>

        <div class="projectsToggler" data-module="projectsToggler">
            <div class="text">Показать объекты на карте</div>
        </div>

    </div>
</section>

<!-- NovBud Projects -->
