<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="copyright">
                    © Novbud. 2017
                </div>
            </div>
            <div class="col-sm-4">
                <div class="socials">
                    <ul>
                        <li><a href=""><img src="img/tw.png" alt="twitter"></a></li>
                        <li><a href=""><img src="img/fb.png" alt="facebook"></a></li>
                        <li><a href=""><img src="img/gpl.png" alt="google-plus"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 totop">
                <a href="" id="toTop"><img src="img/fa-angle-up.svg" class="img-responsive" alt="to top"></a>
            </div>
        </div>
    </div>
</footer>

