<header class="header">
    <!--Navigation bar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="img/logo.png" alt="Novbud" class="img-responsive">
                </a>
            </div>
            <div class="navbar-wrap">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Наши проекты</a></li>
                    <li><a href="#">Наша история</a></li>
                    <li><a href="#">новости</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li>
                        <div class="dropdown">
                            <button class="dropdown-toggle">
                                РУС
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">УКР</a></li>
                                <li><a href="#">EN</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <!--/ Navigation bar-->
</header>
