

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/enquire.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/app.js"></script>


<script> function initMap() {
    var uluru1= {
        lat: 50.497257, lng: 30.512120
    };



    var styleArray=[
        {
            "featureType": "administrative",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#60686e"
                }
            ]
        },
        {
            "featureType": "administrative.neighborhood",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "on"
                }
            ]
        },
        {
            "featureType": "landscape",
            "elementType": "all",
            "stylers": [
                {
                    "color": "#eaf0f2"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "all",
            "stylers": [
                {
                    "saturation": -100
                },
                {
                    "lightness": 45
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "simplified"
                },
                {
                    "color": "#ffffff"
                }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "labels.icon",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "transit",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "all",
            "stylers": [
                {
                    "color": "#4fb4dd"
                },
                {
                    "visibility": "on"
                }
            ]
        }
    ];

    var map=new google.maps.Map(document.getElementById('map'), {
        zoom: 13, center: new google.maps.LatLng(50.497475,30.5184680), styles: styleArray, disableDefaultUI: true,
        scrollwheel: false,
        scaleControl:false
    });

    var flagForScroll=true;
    google.maps.event.addListener(map, 'click', function(event){
        if(!flagForScroll){
            this.setOptions({scrollwheel:true});
            flagForScroll=true;
        }else{
            this.setOptions({scrollwheel:false});
            flagForScroll=false;
        }
    });

    var im = 'img/logo_point.png';

    var image = {
        url: im
        /*,
        // This marker is 20 pixels wide by 32 pixels high.
        size: new google.maps.Size(22, 32),
        // The anchor for this image is the base of the flagpole at (0, 32).
        anchor: new google.maps.Point(-22, 32)*/
    };

    var marker = new google.maps.Marker({
        position: new google.maps.LatLng(50.497205,30.5186680),
        map: map,
        icon: image
    });

}

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBywzPVL6xXhlAabAgZVTpfyphh4v9yG6I&callback=initMap">
</script>


</body>
</html>
