/* buttons */

.button {
  border: 0;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;

  &-light {
    height: 70px;
    line-height: 70px;
    background-color: #ffffff;
    font-family: "Din Bold", sans-serif;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.3px;
    text-align: right;
    padding-right: 42px;
    padding-left: 84px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    color: #10769b;

    z-index: 1;

    transition: all 0.8s ease;

    &:hover {
      color: #10769b;
      text-decoration: none;

      padding-right: 84px;
      padding-left: 42px;

      &:after {
        left: auto;
        right: 42px;
      }
    }

    &:after {
      content: "";
      width: 30px;
      height: 1.5px;
      position: absolute;
      left: 42px;
      top: 50%;
      margin-bottom: -17.5px;
      background-color: #939598;
      transition: all 0.3s ease;
      z-index: -1;
    }

    span {
      display: block;
      position: relative;
      z-index: 1;
    }
  }

  &-allNews {
    font-family: "Din Bold", sans-serif;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.3px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    color: #10769b;
    border-width: 2px;
    border-color: rgba(22,95,122,0.2);
    border-style: solid;
    z-index: 1;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    display: block;
    width: 100%;
    padding: 29px;

    span {
      display: inline-block;
      position: relative;
      z-index: 1;
      transition: all 0.5s ease;
      padding-left: 20px;

      &:after {
        content: "";
        width: 30px;
        height: 1.5px;
        position: absolute;
        left: -20px;
        top: 50%;
        margin-bottom: -37.5px;
        background-color: #939598;
        transition: all 0.5s ease;
        z-index: -1;
      }

    }

    &:hover {
      color: #10769b;
      text-decoration: none;
      transition: all 0.5s ease;

      span {
        transition: all 0.5s ease;
        padding-right: 20px;
        padding-left: 0;
        &:after {
          left: auto;
          right: -20px;
          transition: all 0.3s ease;
        }
      }

    }


  }
}

.link__with-arrowRight {
  font-size: 11px;
  color: rgb(16, 118, 155);
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Din Black', sans-serif;
  display: block;
  text-decoration: none;

  .arrow {
    color: #939597;
    transition: all 0.5s ease;
  }

  &:hover {
    text-decoration: none;
    .arrow {
      padding-left: 5px;
      text-decoration: none;
    }
  }
}