/* Fonts */

@font-face {
  font-family: 'Din Regular';
  src: url('../../fonts/DINPro-Regular.otf') format('opentype')
}

@font-face {
  font-family: 'Din Bold';
  src: url('../../fonts/dinpro-bold.otf') format('opentype')
}

@font-face {
  font-family: 'Din Black';
  src: url('../../fonts/dinpro-black.otf') format('opentype')
}

@font-face {
  font-family: 'Din Medium';
  src: url('../../fonts/dinpro-medium.ttf') format('truetype')
}

