.novbud__counter {
  padding: 195px 0 175px 0;
  background: #ebf1f3;
  position: relative;
  z-index: 1;

  @media screen and (min-width: 992px) and (max-width: 1199px) {
    padding: 125px 0 105px 0;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../img/counter.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }

  & .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  &-value {
    font-size: 100px;
    font-family: "Din Black", sans-serif;
    color: rgb(16, 118, 155);
    text-transform: uppercase;
    line-height: 0.9;
    position: relative;

    @media screen and (min-width: 1360px) {
      font-size: 92px;
    }

    @media screen and (min-width: 1200px) and (max-width: 1359px) {
      font-size: 65px;
    }

    @media screen and (min-width: 992px) and (max-width: 1199px) {
      font-size: 55px;
    }

    &:after {
      content: '';
      //display: block;
      position: absolute;
      height: 10px;
      width: 10px;
      background: #09435b;
      right: 0;
      top: 50%;
      /*transform: translate(0, -50%);*/
      display: none;
    }

  }

  &-text {
    align-self: flex-end;
    font-size: 15px;
    padding-bottom: 11px;
    font-family: "Din Black", sans-serif;
    color: rgb(98, 138, 153);
    text-transform: uppercase;
    text-align: left;
    padding-left: 15px;
    line-height: 1;
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      font-size: 12px;
    }
  }

  &-item {
    position: relative;
  }
}

/* About */

.novbud__about {
  padding: 330px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;

  @media screen and (max-width: 1360px) {
    padding: 150px 0;
  }

  &-content {

    @media screen and (max-width: 1360px) {
      padding: 45px;
      background-color: rgba(255, 255, 255, 0.85);
    }

    h2 {
      font-size: 52px;
      font-family: "Din Medium", sans-serif;
      color: rgb(2, 44, 61);
      line-height: 0.9;
      margin-top: 0;
      margin-bottom: 55px;
      font-weight: 400;
      @media screen and (max-width: 1360px) {
        margin-top: 20px;
        margin-bottom: 30px;
      }

    }

    p {
      font-size: 17px;
      font-family: "Verdana", sans-serif;
      color: rgb(87, 110, 120);
      line-height: 1.5;
      @media screen and (max-width: 1360px) {
        font-size: 15px;
      }
    }
  }

  &-img {
    display: block;
    position: absolute;

    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: -1;

    &:after {
      content: "";
      display: block;
      border-width: 2px;
      border-color: rgb(168, 187, 194);
      border-style: solid;
      background-color: rgb(255, 255, 255);
      opacity: 0.302;
      position: absolute;
      left: -37px;
      right: 0;
      bottom: -37px;
      top: -37px;
      z-index: -2;
      @media screen and (max-width: 1360px) {
        display: none;
      }
    }
  }

  .link__with-arrowRight {
    margin-top: 40px;
  }

}

.novbud__projects {
  padding-bottom: 160px;

  &-header {
    padding-bottom: 90px;
    h2 {
      font-size: 52px;
      font-family: 'Din Medium', sans-serif;
      color: rgb(2, 44, 61);
      text-align: center;
      margin-bottom: 60px;
      font-weight: 400;
      line-height: 1;
    }

    p {
      font-size: 17px;
      font-family: "Verdana", sans-serif;
      color: rgb(87, 110, 120);
      line-height: 1.765;
      text-align: center;
    }
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &-item {
    margin-bottom: 70px;
    margin-top: 0;
    background-color: #ebf1f3;
    border-width: 2px;
    border-color: transparent;
    border-style: solid;
    transition: all 0.5s ease;
    position: relative;
    z-index: 1;

    &-thumb {
      flex-basis: 42%;
      max-width: 42%;
      padding: 0 40px;
      transform: translateY(40px);
    }

    &-text {
      padding-top: 84px;
      padding-bottom: 74px;
      flex-basis: 50%;
      max-width: 50%;
      padding-left: 55px;
      padding-right: 95px;

      &-title {

        h2 {
          font-size: 20px;
          font-family: "Din Bold", sans-serif;
          color: rgb(35, 73, 88);
          font-weight: bold;
          text-transform: uppercase;
          line-height: 1;
          text-align: left;
          margin-top: 0;
          margin-bottom: 30px;
        }

        .date {
          text-align: right;
          span {
            font-size: 13px;
            font-family: "Din Medium", sans-serif;
            color: rgb(133, 142, 149);
            text-transform: uppercase;
            line-height: 1.538;
            text-align: center;
          }
        }

      }

      p {
        margin: 0 0 35px 0;
        font-size: 16px;
        font-family: "Verdana", sans-serif;
        color: rgb(87, 110, 120);
        line-height: 1.625;
        text-align: justify;
      }

    }

    &-address {
      font-size: 15px;
      font-family: "Din Regular", sans-serif;
      color: rgb(16, 118, 155);
      line-height: 1.333;
      text-align: left;
      padding-left: 20px;
      position: relative;
      text-decoration: underline;
      text-decoration-style: dotted;

      &:before {
        content: '';
        display: block;
        background-image: url('../../img/address.png');
        background-position: left;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 30px;
      }
    }

    &-link {
      flex-basis: 8%;
      max-width: 8%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #939597;
      transition: all 0.5s ease;

      .linkHover {
        display: none;
      }
    }
  }

  a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
  }
}

.novbud__projects-item:hover {
  background: transparent;
  border-width: 2px;
  border-color: rgb(16, 118, 155);
  border-style: solid;

  cursor: pointer;

  & .novbud__projects-item-link {
    background-color: #10769b;

    .linkNotHover {
      display: none;
    }

    .linkHover {
      display: block;
    }

  }

}

.novbud__news {
  background-color: #ebf1f3;
  padding-top: 160px;
  padding-bottom: 170px;
  background-image: url("../../img/news-bg2.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right bottom;

  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &-header {
    padding-left: 120px;
    padding-right: 15px;

    h2 {
      font-size: 52px;
      font-family: "Din Medium", sans-serif;
      color: rgb(2, 44, 61);
      line-height: 1.2;
      text-align: left;
      font-weight: 400;
      margin-top: 95px;
      margin-bottom: 60px;
    }

    p {
      font-size: 17px;
      font-family: "Verdana", sans-serif;
      color: rgb(118, 151, 166);
      line-height: 1.765;
      text-align: left;
    }
  }

  &-item {
    background-color: #fff;
    margin-bottom: 25px;

    &-title {
      font-size: 13px;
      font-family: 'Din Black', sans-serif;
      color: rgb(35, 73, 88);
      text-transform: uppercase;
      line-height: 1.385;
      text-align: left;
      margin: 12px 0 8px 0;
    }

    &-date {
      font-size: 12px;
      font-family: 'Din Regular', sans-serif;
      color: rgb(157, 164, 170);
      line-height: 2;
      border-bottom: 2px solid rgba(66, 85, 99, 0.102);
    }

    &-text {
      font-size: 13px;
      font-family: "Verdana", sans-serif;
      color: rgb(123, 133, 140);
      line-height: 1.385;
    }

    &-thumb {
      flex-basis: 33%;
      width: 33%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &-content {
      flex-basis: 67%;
      width: 67%;
      padding: 38px 45px 38px 40px;
    }

    .link__with-arrowRight {
      margin-top: 14px;
    }
  }

}

.novbud__contact {

  padding-top: 170px;

  &-header {
    h2 {
      font-family: 'Din Medium', sans-serif;
      font-size: 52px;
      text-align: center;
      color: #022c3d;
      margin-bottom: 85px;
      font-weight: 400;
      margin-top: 0;
      line-height: 1;
    }
  }

  h5 {
    padding-top: 70px;
    margin-bottom: 50px;
    font-size: 14px;
    font-family: 'Din Black', sans-serif;
    color: #234958;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.3px;
  }

  &-allcontact {
    background-color: rgb(6, 61, 82);
    padding: 0 50px 90px 50px;
    max-width: 392px;

    h5 {
      color: #fff;
    }

    ul {
      padding: 0;
      margin: 0 0 48px 0;
      list-style: none;
      li {
        font-size: 15px;
        font-family: "Verdana", sans-serif;
        color: rgb(172, 209, 222);
        text-align: left;
        padding-left: 25px;
        margin-bottom: 40px;
        position: relative;

        a {
          font-size: 15px;
          font-family: "Verdana", sans-serif;
          color: rgb(172, 209, 222);
          line-height: 1.5;
          text-align: left;
          margin-bottom: 10px;
        }

        &:before {
          content: '';
          display: block;
          background-position: left;
          background-repeat: no-repeat;
          position: absolute;
          left: 0;
          top: 0;
          height: 20px;
          width: 30px;
        }

        &.addr {
          &:before {
            background-image: url(../../img/addr.png);
          }
        }

        &.phones {
          &:before {
            background-image: url(../../img/tel.png);
          }

          a {
            display: block;
          }
        }

        &.mail {
          &:before {
            background-image: url(../../img/mail.png);
          }
        }

        &.clock {
          line-height: 2;
          &:before {
            background-image: url(../../img/clock.png);
          }
        }

      }
    }

    .viewObjects {
      font-size: 16px;
      font-family: "Din Regular", sans-serif;
      color: rgb(91, 187, 222);
      line-height: 2.5;
      text-align: left;
      text-decoration: underline;
      text-decoration-style: dashed;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &-form {
    padding: 0 90px 0 40px;

    .form-group {
      margin-bottom: 5px;
    }

    input[type=text] {
      border-width: 2px;
      border-color: rgb(228, 236, 239);
      border-style: solid;
      background-color: rgb(255, 255, 255);
      height: 55px;
      line-height: 55px;
      padding-left: 20px;
      width: 100%;

      font-size: 13px;
      font-family: "Verdana", sans-serif;
      color: rgb(173, 196, 204);

    }

    textarea {
      width: 100%;
      resize: none;
      border-width: 2px;
      border-color: rgb(228, 236, 239);
      border-style: solid;
      background-color: rgb(255, 255, 255);
      font-size: 13px;
      font-family: "Verdana", sans-serif;
      color: rgb(173, 196, 204);
      padding-left: 20px;
      padding-top: 15px;
      max-height: 128px;
      overflow: hidden;
    }

    ::-webkit-input-placeholder {
      font-size: 13px;
      font-family: "Verdana", sans-serif;
      color: rgb(173, 196, 204);
    }

    .button-light {
      background-color: #10769b;
      color: #fff;

      &:after {
        background-color: #fff;
      }

      &:hover {
        background-color: darken(#10769b, 10%);
      }
    }
  }

  &-cta {
    p {
      font-size: 15px;
      font-family: "Verdana", sans-serif;
      color: rgb(87, 110, 120);
      line-height: 1.867;
      margin-top: 75px;
      margin-bottom: 0;
    }

    .link__with-arrowRight {
      margin-top: 40px;
    }
  }

}

.novbud__map {
  margin-bottom: -50px;
}

#map {
  transform: translateY(-50px);
  position: relative;
  overflow: hidden;
  z-index: -1;
  min-height: 680px;
  width: 100%;
  max-height: 680px;
  display: block;
}

.footer {
  background-color: #041921;
  line-height: 120px;

  .copyright {
    font-size: 16px;
    font-family: 'Din Regular', sans-serif;
    color: rgb(90, 104, 115);
    line-height: 120px;
  }
  .socials {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      li {
        display: inline-block;
        margin: 0 8px;

        a {
          transition: all 0.5s ease;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.totop {
  line-height: 120px;
  text-align: right;
}

#toTop {
  border-width: 2px;
  border-color: rgba(90, 104, 115, 0.302);
  border-style: solid;
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 40px;
  text-align: center;

  transition: all 0.5s ease;

  img {
    width: 25px;
    display: inline;
  }

  &:hover {
    opacity: 0.5;
  }
}