/* Site Header */

.container-fluid{
  max-width: 1540px;
}


header {

  & .navbar {
    background-color: rgba(4, 25, 33, 0.702);
    border: 0;
    margin-top: 0;
    margin-bottom: 0;

    .container-fluid{
      max-width: none;
      @media screen and (min-width: 1400px){
        padding-left: 80px;
        padding-right: 80px;
      }
    }
  }

  & .nav {
    & > li {
      & > a {
        font-family: "Din Regular", sans-serif;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        color: #fff;
        padding-left: 25px;
        padding-right: 25px;

        &:hover {
          color: darken(#fff, 15%);
          text-decoration: none;
        }
      }
    }
  }

  & .navbar-brand {
    padding: 34px 15px;
  }

}

.novbud__hero {
  position: relative;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 992px) and (min-height: 500px) {
    height: 100vh;
    max-height: 850px;
  }

  @media screen and (min-width: 992px) and (min-height: 780px) {
    max-height: 1074px;
  }

  &:after {
    content: "";
    background-image: radial-gradient(circle at 0 0, #021218, rgba(3, 42, 56, 0.84)), linear-gradient(#c1d0d4, #c1d0d4);
  }

  &-content {
    text-align: center;

    @media screen and (min-width: 992px) and (min-height: 500px) {
      margin: 257px 0 256px 0;
    }

    @media screen and (min-width: 992px) and (min-height: 780px) {
      margin: 330px 0 306px 0;
    }

    h1 {
      font-family: "Din Bold", sans-serif;
      font-size: 64px;
      font-weight: 900;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      margin: 0;
      line-height: 1.2;

      @media screen and (min-width: 992px) and (min-height: 500px) {
        font-size: 48px;
        font-weight: 900;
      }

      @media screen and (min-width: 992px) and (min-height: 780px) {
        font-size: 64px;
        font-weight: 900;
      }

      span {
        display: block;
        margin: 0;
        line-height: 1;
      }

    }

    p {
      margin: 30px 0 50px 0;
      font-size: 22px;
      font-family: "Verdana", sans-serif;
      color: rgb(229, 233, 234);
      line-height: 1.2;

      @media screen and (min-width: 1399px) {
        margin: 57px 0 85px 0;
      }
    }

  }

}

/* dropdown */

.dropdown{
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 20px;
  padding-left: 25px;
  padding-right: 0;
  font-family: "Din Medium", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #d7dfe1;

  &-toggle{
    border: 0;
    background-color: transparent;
    outline: 0;

    &.active{
      & .caret {
        transform: rotate(180deg);
      }
    }
  }

  .dropdown-menu{
    display: none;
    position: absolute;
    margin: 0;
    list-style: none;
    background-color: rgba(4,25,33,0.9);
    padding: 10px 0;
    left: 25px;
    right: 0;
    margin-top: 5px;
    padding-left: 7px;

    li{
      padding-bottom: 5px;
      a{
        color: #fff;
      }
    }
  }

}


.btn .caret {
  margin-left: 0;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  transition: all 0.5s ease;
}