/* Modules */

.projectsToggler {
  border-width: 2px;
  border-color: rgb(210, 222, 226);
  border-style: solid;
  padding: 34px 0 37px 0;
  background-image: url(../../img/map.png);
  background-position: center;
  background-repeat: no-repeat;
  font-size: 28px;
  font-family: "Din Regular", sans-serif;
  line-height: 0.9;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 1;

  .text {
    position: relative;
    display: inline-block;
    color: rgb(16, 118, 155);

    &:after {
      content: "";
      display: block;
      border-width: 1px;
      border-color: rgb(22, 95, 122);
      border-style: dotted;
      position: absolute;
      bottom: -3px;
      left: 0;
      right: 0;
    }

    &:hover {
      color: darken(rgb(16, 118, 155), 10%);
      transition: all 0.5s ease;
    }

  }

  &:after {
    content: "";
    display: block;
    background-color: rgba(255, 255, 255, 0.702);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease;
  }

  &:hover {
    &:after {
      background-color: rgba(255, 255, 255, 0.50);
    }
  }
}
